
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    padding-top: 150px;
    font-family: arial,sans-serif;
}

.text_input {
    width:482px;
    height:40px;
    border-radius:24px;
    border:1px solid rgba(0,0,0,0.151);
    padding-left:20px;
    padding-right:20px;
    font-size: 16px;
    outline: none;
}

.button {
    transition: all 0.3s ease 0s;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.button:hover {
    background-color: lightgrey;
    border: 1px solid  lightgrey;
}


li, a{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header {
    background-color: rgb(236, 235, 235);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 5%;
}

.logo ,#logo_google{
    cursor: pointer;
    margin-right: auto;
    margin-left: 0px;
    max-height: 25px;
    
}

.main_logo{
    cursor: pointer;
    align-items: center;
    padding-top: 150px;
    
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: gray;
}

#asearch{
    transition: all 0.3s ease 0s;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    height: 30px;
    min-width: 120px;
    float: right;
    margin: 10px 0;
    padding: 0 12px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    outline: 0;
}

#asearch:hover {
    background-color: #1d6dee;
    border: 1px solid #023381;
}

.aaa{
    clear: both;
    padding-left: 40px;
}
.bbb{
    float: left;
    /*display: inline-block;*/
    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
}
.ccc{
    height: 30px;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    text-decoration: none;
    font-family: arial,sans-serif;
}
.ddd{
    float: left;
    /*display: inline-block;*/
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}
.eee{
    padding-right: 16px;
}
.textinput{
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    width: 100%;
    text-align: left;
    outline-color:dodgerblue;
}
.fff{
    /*float: left;*/
    display: inline-block;
    min-width: 167px;
    width: 16%;
    font-size: 16px;
    height: 42px;
    font-weight: 500;
    color: #333;
    vertical-align: middle;
    padding-top: 40px;
}
.head1{
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
    font-family: arial,sans-serif;
}
.head2{
    padding-left: 40px;
}